@import url('https://fonts.cdnfonts.com/css/amazdoom');


@tailwind base;
@tailwind components;
@tailwind utilities;

.main-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


.cell {
    height: 5rem;
    width: 5rem;
    background-color: red;
    border-radius: 1em;
    filter: brightness(0.5);
}

.cell:hover:not(.correct) {
    filter: brightness(1);
}

.highlight {
    filter: brightness(1);

}

.grid-background {
    perspective: 1000px;
}

.cell {
    height: 5rem;
    width: 5rem;
    background-color: red;
    border-radius: 1em;
    filter: brightness(0.5);
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
}

.correct {
    filter: blur(5px);
}

.cell.flipped {
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell.flipped>span {
    font-size: 3.5em;
}

.game {
    display: flex;
    justify-content: center;
}

.game-indicator {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'AmazDooMLeft2', sans-serif;
    font-size: 2em;

}

.level-complete-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
    padding: 2em;
    border-radius: 2em;

}

.level-options{
    display: flex;
    gap: 1em;
}

.level-complete-popup>h3 {
    justify-content: space-between;
    font-family: 'AmazDooMLeft2', sans-serif;
    font-size: 3em;
}

.game-over>h3,
p {
    justify-content: space-between;
    font-family: 'AmazDooMLeft2', sans-serif;
    font-size: 2em;

}

.cell img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 5rem;
}

.grid-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
    background-color: white;
    border-radius: 1em;
}

.row {
    display: flex;
    gap: 1rem;
}

.start-button {
    background-color: #FF0000;
    color: white;
    font-weight: bold;
    padding: 0.4em 2em 0.4em 2em;
    border-radius: 1em;
}

.start-screen {
    padding: 2rem;
    box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
    border-radius: 2rem;

}

.button-give-up {
    color: red;
}

.button-give-up:hover {
    color: black;
}

.start-sreen-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}